.fl_right{
    float: right;
}
.rounded_box{
    border-radius: 20px;
}
.authr_style{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.left{
    float: left;
}
.cust_animi{
    transition: 0.5s;
}
.cust_animi:hover{
    transform: scale(1.1);
}